/* ACERCA DE MI*/

.acercademi{
    background-image:url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);
}
.acercademi p{
    text-align: center;
    color: #ffff;
    }
.acercademi h2{
    color: #fff;
}